/*********************
COLOR Variables
*********************/
#about {
  margin-top: -4%;
  height: 1px;
  position: absolute; }

#services {
  margin-top: -10%;
  height: 1px;
  position: absolute; }

#bio {
  margin-top: 0%;
  height: 1px;
  position: absolute; }

#contact {
  margin-top: -10%;
  height: 1px;
  position: absolute; }

.header-describe {
  color: black;
  text-align: left; }

.ein-opener {
  width: 70%;
  margin-top: 10%; }
  .ein-opener h1 {
    color: #036bdb;
    text-align: left; }

.header-blocks {
  margin-top: 155px; }

.header-btn-holder {
  margin-left: -3% !important; }

.header-phone-hold {
  background-color: #036bdb;
  height: 250px;
  width: 90%; }
  .header-phone-hold h1 {
    color: white; }
  .header-phone-hold h3 {
    color: white; }
  .header-phone-hold h6 {
    color: #e3f2fd; }

.header-email-hold {
  background-color: black;
  height: 250px;
  width: 90%; }
  .header-email-hold p {
    font-size: 30px;
    margin-top: 0px;
    padding-top: 16px; }
  .header-email-hold span {
    color: #036bdb; }
  .header-email-hold .fa-envelope {
    color: #036bdb; }

.brand-logo {
  margin-top: 10px; }

.about-row h2 {
  color: black;
  text-align: left; }

.ein-abouter {
  width: 70%;
  margin-top: 10%;
  display: flex; }
  .ein-abouter h1 {
    color: #036bdb;
    text-align: left; }
  .ein-abouter img {
    width: 500px;
    margin-top: -127px; }

.servicer-section {
  z-index: -1; }

.servicer-title {
  width: 70%;
  margin-top: -20%; }
  .servicer-title h2 {
    color: white;
    text-align: center; }
  .servicer-title p {
    color: #e3f2fd; }

.serv-table {
  background-color: white;
  margin-top: -190px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center; }
  .serv-table .serv-col {
    text-align: center;
    min-height: 300px;
    padding-top: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #e3f2fd; }
    .serv-table .serv-col .icon-hold {
      background-color: #036bdb;
      border-radius: 50%;
      width: 115px;
      height: 115px;
      margin-left: 31%;
      padding-top: 28px; }
    .serv-table .serv-col p {
      padding-top: 10px; }

.contact-title {
  width: 70%;
  margin-top: -20%; }
  .contact-title h2 {
    color: black;
    text-align: center; }
  .contact-title p {
    color: #e3f2fd; }

.contact-email {
  color: #036bdb !important; }

/*********************
Hs and Types
*********************/
h1, h2, h3, h4 {
  font-family: 'Abril Fatface';
  text-align: center; }

h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center; }

nav ul a,
nav .brand-logo {
  color: #444; }

p {
  line-height: 2rem;
  font-size: 1.1em; }

body {
  background-color: white; }

.button-collapse {
  color: #26a69a; }

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.parallax-container .section {
  width: 100%; }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

i.material-icons {
  color: #036bdb; }

.fa {
  color: white; }

.header-phone-hold {
  text-align: center; }
  .header-phone-hold .fa-phone {
    margin-top: 15px; }

.header-email-hold {
  text-align: center; }
  .header-email-hold .fa-envelope {
    margin-top: 15px; }

#sidenav-overlay {
  background-color: rgba(253, 250, 250, 0.5);
  position: relative; }

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.opener {
  height: 610px;
  background-size: 105% 83%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.white {
  background-color: #ffffff;
  position: fixed;
  z-index: 100; }

.beige-back {
  background-color: #1d2129;
  opacity: 0.8;
  position: inherit;
  margin-top: -9%; }

.bg-white {
  background-color: white; }

.page-footer {
  margin-top: -36px !important; }

/*# sourceMappingURL=style.css.map */
