.about-row{
  h2{
    color: black;
    text-align: left;
  }
  // span{
  //    text-decoration: underline;
  // }
}



.ein-abouter{
  margin-top: 10%;
    h1{
      color: $einhorn-blue;
      text-align: left;
    }
    img{
      width: 100%;
      margin-top: -50;
      @media(max-width: 650px){
        display: none;
      }
    }
}
