.inner-contact{
  min-height: auto ;
}


.mini-holder{
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.mini-contact{
  color: black;
  display: flex;
  margin-right: 15px;
    i{
      color: $einhorn-blue;
        span{
          color: grey;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 12px;
          padding-left: 5px;
        }
    }
}

//for map marker in contact before google maps
.icon-hold-contact{
  background-color: $einhorn-blue;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-left: 47%;
  margin-top: 10%;
    //makes icons white
    .fa{
      color: white;
    }
}


.contact-email{
  color: $einhorn-blue !important;
}

//Map
// .hold-map{
//   //also see html div for some styles
//   margin-left: 5%;
//   margin-right: 5%;
//   margin-top: -20%;
//   padding-top: 6%;
//   background-size: 100%;
//   background-repeat: no-repeat;
//   height: 500px;
// }


.maps{
  position: relative;
  img{
    width: 100%;;
  }
}
