//For H1 and other fonts on screen


/*********************
Hs and Types
*********************/

h1, h3{
font-family: 'Abril Fatface';
text-align: center;
}

h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}


.ein-opener{
  h1{
    color: $einhorn-blue;
  }
}

// h1 in header blocks
.header-phone-hold{
  h1{
    color: white;
  }
  h3{
    color: white;
  }
  h6{
    color: $einhorn-light-blue;
  }
}
