//For H1 and other fonts on screen


/*********************
Hs and Types
*********************/

h1, h2, h3, h4{
font-family: 'Abril Fatface';
text-align: center;
}

h5, h6{
  font-family: 'Source Sans Pro', sans-serif !important;
  text-align: center;
}

.serv-col{
  h5{
    font-family: 'Abril Fatface' !important;
  }
}

nav{
  a{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-style: bold;
    font-weight: 800 !important;
    color: #0E1119 !important;
    font-size: 11px !important;

  }

}
