//For H1 and other fonts on screen


/*********************
COLOR Variables
*********************/

$einhorn-blue:         #036bdb;

/*********************
Hs and Types
*********************/

h1{
font-family: 'Abril Fatface';
color: $einhorn-blue;
text-align: center;


}
