//For Anchor Tags
nav{
  height: 90px;
}
.top-line{
  background-color: black;
  height: 30px;
  padding-left: 25px;
  margin-top: -10px;
  p{
    color: #8a9dab;
    font-size: 10px;
  }
  i{
    color: $einhorn-blue;
    padding-left: 10px;
    padding-right: 5px;
  }
}
#about{
  margin-top: -4%;
  height: 1px;
  position: absolute;
}

#services{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}

#bio{
  margin-top: 0%;
  height: 1px;
  position: absolute;
}

#contact{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}

//header styles

.header-describe{
    color: black;
    text-align: left;
}

.ein-opener{
  width: 70%;
  margin-top: 10%;
    h1{
      color: $einhorn-blue;
      text-align: left;
    }
}

.header-blocks{
  margin-top: 155px;
}

.header-btn-holder{
margin-left: -3% !important;
}

.header-phone-hold{
  background-color: $einhorn-blue;
  height: 210px;
  width: 100%;
      h1{
        color: white;
      }
      h3{
        color: white;
      }
      h6{
        color: $einhorn-light-blue;
      }
}

.header-email-hold{
  background-color: $einhorn-blue;
  height: 210px;
  width: 100%;
    h3{
      color: white;
    }

    p{
      font-size: 30px;
      margin-top: 0px;
      padding-top: 16px;
    }
    span{
      color: $einhorn-blue;
    }
    .fa-envelope{
    }
}


//Header styles and logo

.brand-logo{
  margin-top: 10px;
}
