//For Anchor Tags
#about{
  margin-top: -4%;
  height: 1px;
  position: absolute;
}

#services{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}

#bio{
  margin-top: 0%;
  height: 1px;
  position: absolute;
}

#contact{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}

.header-describe{
    color: black;
    text-align: left;
}

.ein-opener{
  width: 70%;
  margin-top: 10%;
    h1{
      text-align: left;
    }
}

.header-btn-holder{
margin-left: -3% !important;
}

.ein-phone{
  background-color: $einhorn-blue;
}

.ein-email{
  background-color: black;
}


//Header styles and logo

.brand-logo{
  margin-top: 10px;
}
