
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

i.material-icons{
    color: $einhorn-blue;
}






//Header Icons
.header-phone-hold{
    text-align: center;
      .fa-phone{
        margin-top: 27px;
      }
}

.header-email-hold{
    text-align: center;
      .fa-envelope{
        margin-top: 27px;
      }
}

.icon-hold-contact{

  i{
    margin-top: 15px;
      z-index: 1;
  }
}
