
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

i.material-icons{
    color: white;
}


.fa{
  color: white;
}


//Header Icons
.header-phone-hold{
    text-align: center;
      .fa-phone{
        margin-top: 15px;
      }
}

.header-email-hold{
    text-align: center;
      .fa-envelope{
        margin-top: 15px;
      }
}


//Services Table Icos
.fa-home{
  
}
