
#sidenav-overlay{
background-color: rgba(253, 250, 250, 0.5);
position: relative;
}

//smaller laptop and tablet
@media (max-width: 768px)
    {
          .top-line{
            display: none;
          }
         .header-email-hold, .header-phone-hold{
           h4{
             color: red;
             font-size: 25px;
           }
         }
         .serv-table{
           .serv-col{
             .icon-hold{
               margin-left: 16%;
             }
           }
         }
}


@media only screen and (max-width : 600px){

  .ein-opener{
    width: 90%;
    h1{
      font-size: 45px;
      color: yellow;
    }
  }
  .header-email-hold, .header-phone-hold{
    h4{
      color: yellow;
      font-size: 20px;
    }
    h6{
      font-size: 16px;
    }
  }

  .serv-table{
    .serv-col{
      .icon-hold{
        margin-left: 8%;
      }
    }
  }
}


@media only screen and (max-width : 500px){
  .header-email-hold, .header-phone-hold{
    h4{
      color: purple;
      font-size: 16px;
    }
    h6{
      font-size: 10px;
    }
  }
}

@media only screen and (max-width : 420px){
  nav{
    .top-line{
      display: none;
    }
  }
  .header-email-hold, .header-phone-hold{
    h4{
      color: orange;
      font-size: 12px;
    }
    h6{
      color: orange;
    }
  }

}
