
#sidenav-overlay{
background-color: rgba(253, 250, 250, 0.5);
position: relative;
}

//Control Bio Anchor tag
#bio{
  margin-top: -45px;
}

//Turn Off Serv-Table-Mobile
.serv-table-mobile{
  display: none;
}
//smaller laptop and tablet
@media (max-width: 768px)
    {
          .top-line{
            display: none;
          }
         .header-email-hold, .header-phone-hold{
           h4{
            //  color: red;
             font-size: 25px;
           }
         }
         .serv-table{
           .serv-col{
             .icon-hold{
               margin-left: 19%;
             }
           }
         }
}


@media only screen and (max-width : 600px){
//includes Galaxy 5


  .ein-opener{
    width: 90%;
    h1{
      font-size: 45px;
      // color: yellow;
    }

  }

//All H2s
  h2{
      font-size: 30px;
  }

  p, li{
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-email-hold, .header-phone-hold{
    h4{
      // color: yellow;
      font-size: 20px;
    }
    h6{
      font-size: 16px;
    }
  }

.about-row{
  padding-left: 30px;
  padding-top: 20px;
}

.servicer-title{
margin-top: -5%;

}

.servicer-section{
  background-size: 270%;
}
.serv-table{
  .serv-col{
    .icon-hold{
      margin-left: 8%;
    }
  }

 }
 .contact-title{
   margin-top: -70%;
 }
 .hold-map{
   margin-top: -60%;
 }
}


@media only screen and (max-width : 500px){
//Change Serv Table for Mobile

  .header-email-hold, .header-phone-hold{
    h4{
      // color: purple;
      font-size: 16px;
    }
    h6{
      font-size: 10px;
    }
  }

  //serv table
  .serv-table{
    display: none;
  }
  //Show serv-table-mobile
  .serv-table-mobile{
    display: block;
    text-align: center;
      .odd{
        background-color: #fafafa;
      }
      .icon-hold{
        background-color: $einhorn-blue;
        border-radius: 50%;
        width: 115px;
        height: 115px;
        margin-left: 39%;
        padding-top: 28px;
          .fa{
            color: white;
          }
      }
  }
}

@media only screen and (max-width : 420px){
  nav{
    .top-line{
      display: none;
    }
  }
  h2{
    font-size: 24px;
  }
  .header-email-hold, .header-phone-hold{
    h4{
      // color: orange;
      font-size: 12px;
    }
    h6{
      // color: orange;
    }
  }

}


@media only screen and (max-width : 375px){
  //iPhone 5
  .serv-table-mobile{
    display: block;
    text-align: center;
      .odd{
        background-color: #fafafa;
      }
      .icon-hold{
        background-color: $einhorn-blue;
        border-radius: 50%;
        width: 115px;
        height: 115px;
        margin-left: 30%;
        padding-top: 28px;
          .fa{
            color: white;
          }
      }
  }
  .contact-title{
    width: 95%;
  }

}
