.servicer-section{
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100%; 
}

.servicer-title{
  width: 70%;
  margin-top: -20%;
    h2{
      color: white;
      text-align: center;
    }
    p{
      color: $einhorn-light-blue
    }
}

.serv-table{
  background-color: white;
  margin-top: -190px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;

//controls icons in serv table
    .serv-col{
      text-align: center;
      min-height: 300px;
      padding-top: 60px;
      border-style: solid;
      border-width: 1px;
      border-color: $einhorn-light-blue;
        .icon-hold{
          background-color: $einhorn-blue;
          border-radius: 50%;
        	width: 115px;
        	height: 115px;
          margin-left: 31%;
          padding-top: 28px;
            //makes icons white
            .fa{
              color: white;
            }
        }
        p{
          padding-top: 10px;
        }
    }

}
