.servicer-section{
  z-index: -1;
}

.servicer-title{
  width: 70%;
  margin-top: -20%;
    h2{
      color: white;
      text-align: center;
    }
    p{
      color: $einhorn-light-blue
    }
}

.serv-table{
  background-color: white;
  margin-top: -190px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

    .serv-col{
      min-height: 300px;
      padding-top: 60px;
      border-style: solid;
      border-width: 1px;
      border-color: $einhorn-light-blue;
        .icon-hold{
          background-color: $einhorn-blue;
          border-radius: 70px;
          height: 140px;
          width: 50%;
          margin-left: 25%;
          padding-top: 31px;
        }
    }

}
